@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

}

/* Start Global settings */
html{
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

*:focus {
    outline-style: none;
}

@media only screen and (max-width: 768px){

    #hide_on_mobile {
        display: none;
    }

    .nav_bar{
        grid-template-columns: 71px, auto ,10%;
    }

    #Cart{
        grid-column-start: 6;
    }
}

body{
    margin: 0;
}
/* End Global settings */

/* Start Navigation bar */
.nav_bar{
    background-color:none;
    max-height: 71px;
    height: 71px;
    display: grid;
    grid-template-rows: 71px;
    grid-template-columns: 71px 10% 10% 10% auto 10% 10% ;
    align-items: center;
}

.nav_bar a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
}

.nav_bar a:hover {
    text-decoration: underline;
    transition: all 0.4s ease-out;
    color: #353535;
}

label {
    display: none;
}

#toggle {
    display: none;
}

.NB_settings{
    display: flex;
    }

.NB_settings:hover{
    display: flex;
    text-decoration: underline;
    }

.NB_button{
        background : none;
        border : none;
    }

#NB_spacing_nav_bar{
    width: 60%;
}

/* End Navigation bar */

/* Start Container Screen*/
.container_screen{
    background-color: none;
}

/* Start research bar */
#RB_precision select{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	padding: .5em 2em .5em .9em;
	cursor: pointer;
	color: rgb(70, 81, 88);
	font-family: inherit;
    font-size: 1em;
    border-top-style: hidden ;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: 2px solid #353535 ;
	background-color: none;
	background-image: url(/The_Mighty_Brainless_Mushrooms/Resources/Icons/drop_arrow.png);
	background-size: .8em;
	background-repeat: no-repeat;
	background-position: calc(100% - .4em) center;
}

.CS_research_bar{
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.CS_research_bar input{
    border-top-style: hidden ;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: 2px solid ;
    border-color: black;
}

#UI_site_search{
    flex: 4; 
    font-size: 25px;
    background-color: #ffffff;
}

#RB_icon{
    background-color:none;
    padding: 20px;
    
}

#RB_user_input{
    background-color: none;
    padding: 20px;
    flex : 3;
    display: flex;  
}

#RB_precision{
    background-color: none;
    padding-bottom: 20px;
    display : flex;
    justify-content: stretch;
    flex: 1;
}

#RB_precision select {
    background-color: #ffffff;
    flex: 1;
}

.RB_display_screen{
    background-color: none;
    display: flex;
}

/* Start display screen */
.DS_Filter_by{
    background-color: none;
    margin-bottom: 15px;
    color: rgb(122, 122, 122);

}

.Range_values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Range_filter input{
    width: auto;
}

.Range_values{
    width: 70%;
}
.DS_Price_Range{
    background-color: none;
    margin-bottom: 15px;
    color: rgb(122, 122, 122);
}

#DS_first_row{
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#DS_second_row{
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Start Item box */
.DS_item_box{
    width: 200px;
    padding: 1%;
    margin-bottom: 10px;
}

.DS_item_box:hover{
    padding: 1%;
    margin-bottom: 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#cart_settings{
   align-self: center;
}

.IT_image{
    background-color: none;
}

.IT_image img{
 width: 100%;
 height: auto;
}

.IT_data{
    background-color: none;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.D_columns{
    background-color:none;
    flex-grow: 2;
}

.D_item_name{
    background-color:none;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.D_item_name:hover{
    background-color:none;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
    text-decoration: underline;
}


.D_item_rating{
    background-color:none;
}


.D_item_price{
    background-color:none;
    text-align: right;
}

.IP{
    margin-top: 5px;
    margin-bottom: 5px;
}

.D_add_cart_btn{
    background-color:none;
    padding: 3px;
    margin: 3px;
    margin-top: 19px; 
    text-align: right;
}

.D_add_cart_btn:hover{
    opacity: 0.5;
}

p.item_type{
    background-color:none;
    font-size: smaller;
    color: #808080;    
    text-transform: uppercase;
    margin: 0px;
}

p.item_name{
    background-color:none;
    font-weight: 900;
    padding-bottom: 15px;
    padding-top: 5px;
    margin: 0px;
}

#DS_filters{
    background-color: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#DS_filters select{
    width: 100%;
    margin-bottom: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em 2em .5em .9em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    font-family: inherit;
    font-size: 1em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid #c7c7c7;
    background: none;
    background-color: none;
    background-image: url(/The_Mighty_Brainless_Mushrooms/Resources/Icons/drop_arrow.png);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - .4em) center;
}

/* End Item Box */
/* End display screen */
/* End Container screen */

/* Start pagination */
footer{
display: flex;
}

.pagination{
background-color: none;
display: flex;
flex-direction: row;
align-items: center;
flex: 2;
}

.pagination img{
width: 16px;
height: 16px;
}

.P_num{
background-color: none;
justify-content: center;
align-items: center;
font-size: 14px;
display: flex;
padding: 16px;
margin-right: 15px;
}

.P_num:hover{
    background-color:rgb(128, 128, 128);
    color: none;
    }

#focused {
background-color:#353535;
padding-left: 2px;
padding-right: 2px;
padding: 16px;
color: white;
}

.P_num p{
margin: 0px;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;
align-self: center;
text-align: center;
}

#spacer{
flex: 2;
}

/* End pagination */

